<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mensaje</title>
    <link rel="stylesheet" href="http://localhost:8888/admin/vendor/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <!-- Modal para mensaje de categorias de entradas-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".mensajeCatEntradas">Mensaje</button>

    <div class="mensajeCatEntradas" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div>

    <script src="http://localhost:8888/admin/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:8888/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:8888/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>