</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="http://localhost:8888/admin/vendor/jquery/jquery.min.js"></script>
<script src="http://localhost:8888/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="http://localhost:8888/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="http://localhost:8888/admin/ckEditor/ckeditor.js"></script>
<script src="http://localhost:8888/admin/js/controlador.js"></script>
<script src="http://localhost:8888/admin/codemirror/lib/codemirror.js"> </script>
<script src="http://localhost:8888/admin/codemirror/mode/javascript/javascript.js"></script>
<script src="http://localhost:8888/admin/codemirror/mode/css/css.js"></script>
<script>
    var txtAreaJs = document.getElementById('javascript-personalizado');
    var myCodeMirror = CodeMirror.fromTextArea(txtAreaJs);
</script>
<script>
    var txtAreaCss = document.getElementById('css-personalizado');
    var myCodeMirror = CodeMirror.fromTextArea(txtAreaCss);
</script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>