<% include templates/header  %>
<title>Pagina principal</title>
<!-- Contenido apartir de aqui ------->
<h3>Escritorio</h3>
<div class="container">
    <a href="pages/page-principal-edit.html"><button>Configurar sitio</button></a>


</div>

<!-- Contenido Hasta de aqui ------->
<% include templates/footer  %>