<% include templates/header  %>

<!-- Contenido apartir de aqui ------->
<div class="container-fluid">
    <div id="categorias" class="container">
        <form id="form-categories" action="#" class="form-control">
            <h3>Categorias</h3>
            <span>Nombre categoria</span>
            <br>
            <input onblur="colorear(this)" onkeyup="colorear(this)" id="nombreCat" type="text" class="form-control"
                placeholder="Nombre categoria">
            <button id="guardar-categoria" onclick="guardarCategoria()" class="form-control">Guardar</button>
            <h6>Categorias existentes</h6>

            <!-- Mostrar categorias existentes -->
            <table class="table table-striped">
                <thead>
                    <th>Categoria</th>
                    <th>Accion</th>
                </thead>
                <tbody id="catExistentes">

                </tbody>
            </table>
            <hr>
            <a href="newentrada.html"><button type="button" id="volverCat" class="form-control">Volver</button></a>

        </form>
    </div>

</div>
<!-- Contenido Hasta de aqui ------->

<% include templates/footer  %>