<% include templates/header  %>

<div class="container-fluid">
    <!-- Contenido apartir de aqui ------->
    <h4 style="text-align: center">Paginas</h4>
    <a href="newpage.html"><button id="btn-new-page" class="form-control" type="button">Nueva
            pagina</button></a>

    <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Comentarios</th>
            <th>Fecha</th>
            <th>Activa(S/N)</th>
        </thead>
        <tbody id="tbl-paginas">
            <tr>
                <td>La revolucion</td>
                <td>user1</td>
                <td>4</td>
                <td>11-11-19</td>
                <td>S</td>
            </tr>
        </tbody>
    </table>

    <!-- Contenido Hasta de aqui ------->
</div>

<% include templates/footer  %>