<% include templates/header  %>
<!-- Contenido apartir de aqui ------->
<div id="posts-all" class="container">
    <select name="" id="cats" class="form-control">
        <option value="">Categorias</option>
    </select>
    <div class="col-xs-12">
        <h2 style="text-align:center;">Publicaciones</h2>
    </div>
    <div class="row container-posts">
        <a href="post/6" class="col-md-2 post">
            <div class="container">
                <img src="res/img/img_posts/5d2a3c927d50c.png" alt="img-post" class="post_img">
                <h2 class="post-title">Titulo</h2>
                <h2 class="post-autor">Autor</h2>
                <p class="post-date">13-07-19</p>
            </div>
        </a>

    </div>
</div>
<!-- Contenido Hasta de aqui ------->
</div>